<h1>Book detail</h1>
<%= render 'layouts/sidebar', user: @user, book: @book_show %>
<div>
  <p>name: <%= link_to @user.name, user_path(@user.id)%></p>
  <p>Title：<%= link_to @book.title, book_path(@book.id) %></p>
  <p>Opinion：<%= @book.body %></p>
<% if @user.id == current_user.id %>
  <%= link_to "Edit", edit_book2_path(@book)%>
  <%= link_to "Destroy", book_path(@book), method: :delete %>
<% end %>
  <p><%= link_to attachment_image_tag(@user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg"),user_path(@user.id) %></p>
</div>
